/* 
Dark-blue = #353866
Lavendar = #AAAbd3
Pink overlay = CBA6c3
*/


/* Nav Bar */
#logo {
	width: 150px;
	height: 150px;
	margin-top: -20px;
}

.navbar {
	margin-bottom: 0;
	background: white;
	border-bottom: none;
	height: 40px;
	box-shadow: none;
}

.nav {
	float: right;
}

.navbar .nav > li > a {
	color: #AAAbd3;
	font-size: .9em;
	font-family: 'Raleway';
	text-transform: uppercase;
	letter-spacing: 3px;
	font-style: normal;
	font-weight: 600;
	text-decoration: none;

}

.navbar .nav > li > a:hover {
	color: #353866;
	
}

.dropdown-toggle:active{
	background: white;
}
/*Donate button/link configuration */

.btn{
	border: 1px solid #353866;
	border-radius: 4px;
	background: transparent;
	margin-left: 20px;
}

.donate_link{
	text-decoration: none;
	color: #AAAbd3;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-style: normal;
	font-weight: 600;
}

.btn:hover{
	background-color: #AAAbd3;
	border:1px solid #AAAbd3;
}

.btn:hover a{
	color: white;
	text-decoration: none;
}

.btn:focus{
	outline: 0;
	text-decoration: none;
	background-color: #AAAbd3;
}

.btn:focus a{
	color: white;
}
/* end of donate button */

.navbar-default .navbar-toggle .icon-bar {
    background-color: black;
}


/* End of Nav bar */

/*Landing page */
.jumbotron {
	/*background-image:url('neighborhood_playing.jpg');*/
	background-color: white;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	margin-bottom: 0;
	margin-top: 0;
	background-attachment: fixed;
	padding-left: 0px;
	overflow: hidden;
}
	
.jumbotron .container-fluid {
  position: relative;
  top:100px;
}

.jumbotron h1 {
  color: #AAAbd3;
  font-size: 36px;  
  font-family: 'Dancing Script', cursive;
  font-weight: bold;
  float: right;
}

/*.jumbotron .backdrop{
	width: 100%;
	height: 100%;
	z-index: -1;
}*/

/*org name on the langing page */
.A{
	font-size: 48px;
}


#mission {
	width: 517px;
	height:180px;
	border: 1px solid white;
	border-radius: 2px;
	/*background-color: #AAAbd3;*/
	background: rgba(170,171,211,.3);
	float: right;
}	

#mission_content p{
	color: white;
	font-size: 32px;
	text-align: center;
	margin-top: 25px;
}

@media only screen and (max-width: 400px) {
	#org_name{
		margin-top: 125px;
	}
	#mission{
		width:375px;
		height: 250px;
	}

	#mission_content{
		font-size: 18px;
	}

	.jumbotron{
		width: 400px;
	}

	body {
		width: 400px;
	}
}	

@media only screen and (max-width: 480px) {
	#org_name{
		margin-top: 125px;
	}
	#mission{
		width:375px;
		height: 250px;
	}

	#mission_content{
		font-size: 18px;
	}

	body{
		width: 480px;
	}

}	

/*transition button*/



/* Current features */
/*.current {
	height: 100%;
	width: 100%;
}*/
/* Carousel base class */
.carousel {
  height: 500px;
  /*margin-bottom: 60px;*/
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 100;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  /*position: absolute;
  top: 0;*/
  left: 0;
  min-width: 100%;
  height: 500px;
}

.item.active{
	height: 500px;
}

.toggleButton{
	  position: relative;
	  z-index: 1000;
	  clear: both;
}

.carousel-control.left, 
.carousel-control.right {
    background-image: none
}


.event_info {
	display: none;
}
/* end of current features */
/*page css */

.title {
	color:#AAAbd3;
	line-height: 1;
	text-align: center;
	padding-top: 40px;
}
/*About page */
.about .container-fluid{
	/*background-color: #353866;*/

	height:100%;
	width: 100%;
}

.about .container-fluid #backstory{
	text-align: justify;
	font-size: 24px;
	color: #353866;
	margin-top: 60px;
	padding-left: 200px;
	padding-right:200px;
	font-family: 'Roboto', sans-serif;
	font-weight: lighter;
}

@media only screen and (max-width: 480px) {
    .about .container-fluid #backstory{ 
    	padding-left: 20px;
    	padding-right: 20px;
    	font-size: 16px;

	}	
 }

 

/*scrolling picture on the About page */
.cd-fixed-bg {
	/*min-height: 100%;*/
	height: 50%;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center center;
}
 
.cd-fixed-bg.cd-bg-1 {
  background-image: url('neighborhood_playing.jpg');
}

.cd-fixed-bg .mission{
	color: white;
	text-align: center;
	padding: 90px 90px 30px 90px;
	font-family: 'Roboto', sans-serif;
}

@media only screen and (max-width: 480px) {
	.cd-fixed-bg .mission{
		padding: 60px 20px 20px 20px;
		font-size: 20px;
	}

}

/* End of the Our story */



/* Our Team section */

.team {
	/*background-color: #353866;*/
	height: 100%;
	width: 100%;
}

.team .title{
	margin-bottom: 70px;
}

.team .thumbnail{
	background: transparent;
	border: none;
	box-shadow: none;
}

.team_pic {
	height: 200px;
	width: 200px;
}

.caption .name, .caption .role{
	line-height: 1;
	text-align: center;
	color: #353866;
	font-family: 'Raleway';
}

/*Mobile Responsiveness */
@media only screen and (max-width: 480px) {
/*	.caption .name{
		font-size: 18px;
	}

	.caption .role{
		font-size: 14px;
	}*/

	.thumbnail.right-caption > img {
    float: left;
    margin-right: 9px;
	}

	.thumbnail.right-caption {
	    float: left;
	}

	.thumbnail.right-caption > .caption {
	    padding: 4px;
	}

}

/* End of Our Team */
/*Services page */
.services .container{
	height:100%;
	width: 100%;
}

.services .title{
	margin-bottom: 70px;
}



.service_img{
	height: 300px;
	width: 300px;
	border-radius: 50%;

}

.srvc_img_overlay {
  bottom: 0;left: 0; top: 0; right: 0;
  height: 300px;
  width: 300px;
  position: absolute;
  background-color:#CBA6c3;
  border-radius: 50%;
  opacity:.5;
 margin-left: 16px;
}

.srvc_img_text {
	color: #353866;
  font-weight:bold;
  font-size:36px;
  padding-top: 35%;
  /*padding-bottom:50%;*/
  text-align:center;
}

/* Mobile Responsiveness */
@media only screen and (max-width: 480px) {
	.service_img{
		height: 175px;
		width: 175px;
		border-radius: 50%;
		margin-bottom: 10px;
	}

	.srvc_img_overlay {
	  height: 175px;
	  width: 175px;
	  margin-bottom: 10px;
	}

	.srvc_img_text {
	  font-size:18px;
	}

}



/*Get involved*/
.get_involved .container-fluid{
	height:90%;
	width: 100%;
}

.vol_call{
	height:90%;
	width: 100%;
	margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

#vol_image{
	height:300px;
	width: 400px;
	margin: auto;
  position: absolute;
  top:400; left: 0; bottom: 0; right: 0;
}

.image_overlay{
bottom: 0;left: 0; top: 400; right: 0;
  height: 300px;
  width: 400px;
  margin: auto;
  position: absolute;
  background-color:#CBA6c3;
 /* border-radius: 50%;*/
  opacity:.5;
}

.vol_img_text {
	color: #353866;
  font-weight:bold;
  font-size:36px;
  padding-top: 25%;
  /*padding-bottom:50%;*/
  text-align:center;
}



/* Get involved Donate */
.donate_call p{
	padding-top: 50px;
	padding-left: 30px;
	padding-right: 30px;
	font-size: 24px;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	color: #353866;
}
.donate_call .btn{
	margin-left: 35%;
}



.btn.donate{
	background-color:#353866;
	color: white; 
	font-size: 30px;
}

.btn.donate:focus{
	outline: 0;
}

/* mobile responsive */

@media only screen and (max-width: 480px) {
	.get_involved .container-fluid{
		width: 480px;

	}

	#vol_image{
		margin:0;
		position: relative;
	}

}


/* Donation Modal */
.donate_message {
	margin-bottom: 30px;
	font-size: 20px;
}

.ways_to_donate p {
	text-align: center;
}

.ways_to_donate i {
	padding-left: 50px;
}

/*Sponsors */
.sponsors .container{
	height: 100%;
	width: 100%;
}

.sponsors-msg{
	height: 100%;
	background-color: #353866;
}

/*footer*/
.footer {
	border-top: 1px solid lightgray;
}

.footer .container{
	width: 100%;
}

.contact, .social, .logo_footer{
	height: 120px;

}

@media only screen and (max-width: 480px) {

	.contact, .social, .logo_footer{
		height: 60px;

	}

}

/*social media icons */
.social{
	margin-top: 40px;
}
.social h2{
	margin-right: 20px; 
	color: #353866;
}

.fa{
	font-size: 40px;
	margin-left: 10px;
	margin-right: 10px;
	color: #353866;
}

.fa:hover{
	color: #AAAbd3;
}

.logo_footer{
	margin-left: 25px;
	margin-top: 80px;
}

.logo_footer #logo{
	padding-top: 10px;
	height: 150px;
	width: 150px;
}

/*contact us */
.contact{
	margin-top: 40px;
}

.contact h2{
	color: #353866;
	margin-left: 10px;
}

.mailing p{
	margin-bottom: 5px;
	margin-top: 5px;
	margin-left: 0px;
	padding-left: 0;
}

.mailing .fa-home{
	float: right;
	padding-right: 0;
	margin-right: 0;
}

/*.address{
	border-right: 2px solid lightgray;
}*/

#email{
	text-decoration: none;
	color: #353866;
	font-weight: bold;
	font-size: 20px;
}

/* mobile responsive */

@media only screen and (max-width: 480px) {

	.mailing{
		padding-left: 10px;
	}

	.address{
		margin-left: 0;
	}

	.logo_footer{
		display: none;
	}

}

/*chump change project */
#shiva
{
  width: 100px;
    height: 100px;
    background: #353866;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
  float:left;
  margin:5px;
}
.count
{
  line-height: 100px;
  color:white;
  margin-left:30px;
  font-size:25px;
}


/* Calendar */
table {
   border: 1px solid #999;
   border-collapse: collapse;
   font-family: Georgia, Times, serif;
   margin: 0 auto;
   }
   th {
   border: 1px solid #999;
   font-size: 70%;
   text-transform: uppercase;
   }
   td {
   border: 1px solid #999;
   height: 5em;
   width:5em;
   padding: 5px;
   vertical-align: top;
   }
   caption {
   font-size: 300%;
   font-style: italic;
   }
   .day {
   text-align: right;
   }
   .notes {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 80%;
   text-align: right;
   padding-left: 20px;
   }
   .birthday {
   background-color: #ECE;
   }
   .weekend {
   background-color: #F3F3F3;
   }

  /* end of calendar */
